
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&display=swap');


:root{

    --main-color: #115e59;
    --secondary-color: #6ee7b7;
    --tertiary-color: #ecfdf5;

}

body{
    color: white;
    font-family: 'Anek Telugu', sans-serif;
    margin: 0;
}

#container{
    height: 100%;
    min-width: 1000px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

}


    
#content{
    background-color: var(--secondary-color);
    grid-area: 2/2/6/6;
}

/* ----------- Nagivation Panel ------------*/

#nav-panel{
    background-color: var(--main-color);
    grid-area: 1/1/6/2;  
    padding: 1rem;
}

#dashboard-header{
    display: flex;
    font-size: 2rem;
    align-items: center;
    padding-bottom: 3rem;
}

#dash-image{
    width: 2rem;
    padding-bottom: 0.5rem;
}

.icon{
    width: 1.5rem;
    padding-right: 1rem;
}


#links-icons{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(9, 1fr);
    padding: 1rem 1rem 6rem 1em;
    row-gap: 1rem;
    font-size: 1.5rem;
}

/*------Header------*/

#header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2,1fr);
    color: black;
    background-color: var(--tertiary-color);
    grid-area: 1/2/2/6;
}


#search{
    padding: 1rem;
    align-self: center;
   
}

#search-bar{
    background-color: var(--secondary-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    width: 30rem;
    margin-left: 1rem;
    padding-left: 0.5rem;
    
}

#profile-thumbnail{
    width: 3rem;
    border-radius: 25px;
}

#notifications{
    display: flex;
    gap: 10%;
    align-self: center;
    justify-content: flex-end;
    padding-right: 2rem;
}

#notification-image{
   height: 1.5rem;
   align-self: center;
}

#name{
    font-weight: bolder;
    align-self: center;
}

#profile-pic{
    width: 5rem;
    border-radius: 50px;
    grid-area: 1/1/3/2;
    justify-self: center;
}

#profile-info{
    display: grid;
    width: 60%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 0 1rem 1rem 1rem;
}

#notifications:hover{
    cursor: pointer;
    color:var(--main-color);
}

#profile-caption{
    grid-area: 1/2/2/2;
    align-self: end;
}

#profile-name{
    grid-area: 2/2/2/2;
    font-weight: bolder;
    font-size: 1.5rem;
}


button{
    background-color: var(--main-color);
    border-radius: 25px;
    border: 1px solid var(--main-color);
    width: 5rem;
    color: var(--tertiary-color);
    margin-left: 1rem;
}

button:hover{
    cursor: pointer;
    color: var(--secondary-color);
}

#buttons{
    align-self: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

/*-------Content------*/

#content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

/*Cards*/
#card-content{
    background-color: var(--secondary-color);
    grid-area: 1/1/3/2;
    color: black;
}

#card-content-title{
    padding-left: 1rem;
}

#cards{
    display: grid;
    gap: 1.6rem;
    padding: 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    justify-content: center;
}

.card{
    background-color: white;
    border-radius: 13px;
    color: black;
    display:grid;
    grid-template-columns: 1fr 20fr;
    grid-template-rows: 1fr 3fr 1fr;
    box-shadow: 5px 5px 5px var(--main-color); 
}

.colour-block{
    background-color: var(--main-color);
    grid-area: 1/1/5/2;
    border-radius: 20px 0 0 20px;
    width: 75%;
    margin: 0;
}

.project-title{
    padding: 0rem 2rem 0rem 2rem;
}

.project-content{
    padding: 0rem 2rem 0rem 2rem;
}

.action-buttons{
    text-align: right;
    padding-right: 2rem;
}

.action-buttons img:hover{
    cursor: pointer;
}

/*Announcments*/
#announcements{
    background-color: var(--secondary-color);
    color: black;
    padding: 1rem;
}

#announcements-panel{
    background-color: white;
    border-radius: 13px;
    color: black;
    padding: 1rem;
    font-size: 0.8em;
    box-shadow: 5px 5px 5px var(--main-color); 
}

/*Trending*/
#trending{
    background-color: yellow;
}


/*------Generic-----*/

a{
    text-decoration: none;
    color: white;
    padding-top: -1rem;
}

a:hover{
    color: var(--secondary-color);
}

ul{
    list-style: none;
    font-size: 1.5rem;
}

li{
    padding-bottom: 1rem;
}